<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
    font-family: Arial;
    background: #111;
    color: white;
    padding: 10px;
}

.day {
    margin-bottom: 20px;
    background: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
}

.slot {
    padding: 8px;
    margin: 4px 0;
    border-radius: 6px;
    background: #2a2a2a;
}

.booked {
    background: #00c853;
    color: black;
}
</style>
</head>

<body>

<h2>📅 Admin Panel</h2>

<a href="/logout">Logout</a>

{% for day in days %}
<div class="day">

<h3>{{ day.date }}</h3>

{% if day.slots %}
    {% for s in day.slots %}
        <div class="slot {% if s.booking %}booked{% endif %}">
            {{ s.time }} -

            {% if s.booking %}
                {{ s.booking.name }} ({{ s.booking.phone }})
            {% else %}
                Κενό
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>Κλειστά</p>
{% endif %}

</div>
{% endfor %}

</body>
</html>
