<!DOCTYPE html>
<html>
<head>
    <title>Barber Booking</title>
</head>

<body>

<h1>Κλείσε Ραντεβού 💈</h1>

<form method="POST">

    <!-- ΟΝΟΜΑ -->
    <input type="text" name="name" placeholder="Όνομα Επώνυμο" required>
    <br><br>

    <!-- ΤΗΛΕΦΩΝΟ -->
    <input type="text" name="phone" placeholder="Τηλέφωνο" required>
    <br><br>

    <!-- ΥΠΗΡΕΣΙΑ -->
    <select name="service" required>
        {% for s in services %}
            <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
    </select>
    <br><br>

    <!-- ΗΜΕΡΟΜΗΝΙΑ -->
    <label>Ημερομηνία:</label>
    <input type="date" name="date" required>
    <br><br>

    <!-- ΩΡΑ (45min slots) -->
    <label>Ώρα:</label>
    <select name="time" required>
        {% for slot in slots %}
            <option value="{{ slot }}">{{ slot }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Κλείσε Ραντεβού</button>

</form>

</body>
</html>
