<!DOCTYPE html>
<html>
<head>
    <title>Barber Booking</title>
</head>
<body>

<h1>Κλείσε Ραντεβού 💈</h1>

<form method="POST">
    <input name="name" placeholder="Όνομα Επώνυμο" required><br><br>
    <input name="phone" placeholder="Τηλέφωνο" required><br><br>

    <select name="service">
        {% for s in services %}
        <option>{{ s }}</option>
        {% endfor %}
    </select><br><br>

    <select name="time" required>
    {% for slot in slots %}
        <option value="{{ slot }}">{{ slot }}</option>
    {% endfor %}
</select>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const input = document.getElementById("timeInput");

    input.addEventListener("change", function () {
        const selectedDate = new Date(this.value);
        const day = selectedDate.getDay(); // 0 = Κυριακή

        if (day === 0) {
            alert("❌ Κυριακή δεν δεχόμαστε ραντεβού");
            this.value = "";
        }
    });
});
</script>

    <button>Κλείσε</button>
</form>

</body>
</html>
